.count-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  p {
    font-size: 24pt !important;
  }
  .clock {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 5px;
    background-color: $white;
    border-radius: 3px;
    padding: 5px;
    p {
      font-size: 24pt !important;
      line-height: 1 !important;
    }
    span {
      font-size: 12pt;
    }
  }
}