#footer {
  background-image: url('./assets/images/footer.png');
  background-size: cover;
  background-position: center;
  height: 6rem;
  width: 100%;
  background-color: $dark;
  color: $gold;
  text-shadow: 0 0 10px $gold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;line-height: 1.6;
  font-size: 10pt;
  opacity: 0.9;
  text-align: center;
  a {
    color: inherit;
  }
  p {
    margin: 0 1rem;
    line-height: 1.4;
  }
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }
  @media screen and (max-width: 320px) {
    font-size: 8pt;
  }
}