#header {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .container {
    width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // transform: translateY(-4rem);
    #logo {
      width: 333px;
      height: 381px;
    }
    .content {
      color: $dark;
      .title-box {
        margin: 1rem 0;
      }
      h1 {
        font-size: 84px;
      }
      h2 {
        font-size: 48px;
      }
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 16px;
        line-height: 1.6;
        font-weight: 600;
      }
    }
  }
}
