.page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}