.paper {
  background-image: url('./assets/images/paper.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 3rem rgba($gold, .5));
  @media screen and (max-width: 1023px) {
    background-image: url('./assets/images/paper-mobile.png');
    background-size: cover;
  }
  @media screen and (max-width: 320px) {
    background-size: 120%;
  }
  @media screen and (max-width: 360px) and (max-height: 700px) {
    background-size: cover;
  }
}

.tag {
  background-color: $dark;
  color: $gold;
  font-size: inhert;
  padding: 2px 7px;
  border-radius: 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: $dark;
  text-decoration: none;
  padding: .7rem 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: $white;
}
