[submodule "2016"]
	path = 2016
	url = https://github.com/tdoh/TDOHConf2016
[submodule "2017"]
	path = 2017
	url = https://github.com/tdoh/TDOHConf2017
[submodule "2018"]
	path = 2018
	url = https://github.com/tdoh/TDOHConf2018
[submodule "2019"]
	path = 2019
	url = https://github.com/tdoh/TDOHConf2019.git
