/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 60px;
  color: #5a5a5a;
  /*background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,43,46,1) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);*/
  background: rgb(0,0,0);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  font-family: "Noto Sans", "Noto Sans CJK TC", "Microsoft JhengHei", "微軟正黑體", sans-serif;
  overflow-x: hidden;
}

.bg1{
  background-image: url("img/bg_01.png"), -moz-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_01.png"), -webkit-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_01.png"), linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
}
.bg2{
  background-image: url("img/bg_02.png"), -moz-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_02.png"), -webkit-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_02.png"), linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
}
.bg3{
  background-image: url("img/bg_03.png"), -moz-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_03.png"), -webkit-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_03.png"), linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
}
.bg4{
  background-image: url("img/bg_04.png"), -moz-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_04.png"), -webkit-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_04.png"), linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
}
.bg5{
  background-image: url("img/bg_05.png"), -moz-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_05.png"), -webkit-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_05.png"), linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
}

.bg{
  position: absolute;
  top: 56px;
  left: 0vw;
  z-index: -1;
}

.bg > img{
  max-width: 100vw;
  width: 100vw;
  padding-bottom: 50%;
}

.empty{
  padding-bottom: 55%;
  width: 100vw;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.ud-dark{
  background-color: #313131;
}

.hm{
  text-align: center;
}

.content{
  background-color: rgba(187,201,208,0.8);
  padding: 2em 2em 2em 2em;
  width: 50vw;
  margin: auto;
  font-family: "Noto Sans", "Noto Sans CJK TC", "Microsoft JhengHei", "微軟正黑體", sans-serif;
  color: #000000;
}

.title{
  width: 20vw;
  padding: 5px;
  margin: 50px auto auto auto;
}

.title-h2{
  padding: 5px;
  font-family: "Noto Sans", "Noto Sans CJK TC", "Microsoft JhengHei", "微軟正黑體", sans-serif;
  background-color: rgba(170,170,170,0.8);
  color: #000000;
}

.btitle{
  color: #888888;
}

.stitle{
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
  left: 0px;
}

.stitle:before{
  width: 100px;
  content: " ";
  background-image: url("img/stitle.png");
  position: absolute;
  left: calc(50% - 3em);
  top: -30px;
  height:100px;
  z-index: 0;
  background-size: cover;
}

.tab{
  padding-left: 5vw;
}

.map{
  border: 0;
  width: 50vw;
  height: 70vh;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width:48em) {
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
        position: absolute;
        z-index: 1;
        width: 190px;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

/* change transition animation to width when entire sidebar is toggled */
#sidebar.collapse {
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

#sidebar.collapsing {
  opacity: 0.8;
  width: 0;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: width;
       -o-transition-property: width;
          transition-property: width;

}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

}

@media (max-width: 70em) {
  .title{
  	width: 80vw;
  }
  .content{
    width: 100%;
  }
  .map{
    width: 100%;
  }
}
