/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 60px;
  color: #5a5a5a;
  /*background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,43,46,1) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);*/
  background: rgb(0,0,0);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
  background-position: 0 56px;
  font-family: "Noto Sans", "Noto Sans CJK TC", "Microsoft JhengHei", "微軟正黑體", sans-serif;
  overflow-x: hidden;
}

.hide { display: none; }

.white-popup {
	font-family: "Noto Sans", "Noto Sans CJK TC", "Microsoft JhengHei", "微軟正黑體", sans-serif;
	position: relative;
	background: #AAA;
	width: auto;
	max-width: 60%;
	padding: 25pt;
	margin: 0 auto;
	border: 4px solid #808080;
}
.white-popup .avator { width: 100px; vertical-align: top; float: left; }
.white-popup .avator img { width: 100%; border-radius: 50%; }
.white-popup .data { margin-left: 10%; margin-right: 10%;}
.white-popup .data [class^=data-] { font-size: 16px;}
.white-popup .data .data-description { }

.DDtitle { font-size: 24px; font-weight: bold; }
.avatar { width: 100px; height: 100px; display: block; margin-left: auto; margin-right: auto; border-radius: 50%; vertical-align: middle; overflow: hidden; }
.avatar img { width: 100%; height: 100%; }

.navbar-brand-text{
  padding-left: 95px;
}

.navbar-brand-bg{
  height: 80px;
  position: absolute;
  top: 0px;
}

#logo {
  position: absolute;
  top: 55%;
  width: 25%;
  left: calc(50% - 25% / 2);
}

.seeThru-display {
  position: absolute;
  top: 55%;
  width: 25%;
  left: calc(50% - 25% / 2);
}

.bg1{
  background-image: url("img/bg_01.png"), -moz-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_01.png"), -webkit-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_01.png"), linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
}
.bg2{
  background-image: url("img/bg_02.png"), -moz-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_02.png"), -webkit-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_02.png"), linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
}
.bg3{
  background-image: url("img/bg_03.png"), -moz-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_03.png"), -webkit-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_03.png"), linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
}
.bg4{
  background-image: url("img/bg_04.png"), -moz-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_04.png"), -webkit-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_04.png"), linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
}
.bg5{
  background-image: url("img/bg_05.png"), -moz-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_05.png"), -webkit-linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
  background-image: url("img/bg_05.png"), linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,43,46,1) 100%);
}

.empty{
  padding-bottom: 55%;
  width: 100vw;
  position: relative
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.ud-dark{
  background-color: #313131;
}

.hm{
  text-align: center;
}

.content{
  padding: 2em 2em 2em 2em;
  width: 50vw;
  margin: auto;
  font-family: "Noto Sans", "Noto Sans CJK TC", "Microsoft JhengHei", "微軟正黑體", sans-serif;
  color: #FFFFFF;
}
.content-bg{
  background-color: rgba(187,201,208,0.8);
  color: #000000;
}

.title{
  width: 20vw;
  padding: 5px;
  margin: 50px auto auto auto;
}

.title-h2{
  padding: 5px;
  font-family: "Noto Sans", "Noto Sans CJK TC", "Microsoft JhengHei", "微軟正黑體", sans-serif;
  background-color: rgba(170,170,170,0.8);
  color: #000000;
}

.btitle{
  color: #888888;
}

.stitle{
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
  left: 0px;
}

.stitle:before{
  width: 100px;
  content: " ";
  background-image: url("img/stitle.png");
  position: absolute;
  left: calc(50% - 3em);
  top: -30px;
  height:100px;
  z-index: 0;
  background-size: cover;
}

.tab{
  padding-left: 5vw;
}

.map{

  border: 0;
  width: 50vw;
  height: 70vh;
}

td {
  border-bottom: 5px solid transparent;
  background-clip: padding-box;
  height: 50px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  text-align: center;
  vertical-align: middle;
}

tbody > tr > td:nth-child(1):not(.content-bg){
  background-color: rgba(187,201,208,0.6);
  color: #111111;
}

/*.staff { position: relative; z-index: 100; width: 800px; max-width: 100%; padding-top: 90px; margin-left: auto; margin-right: auto; }*/
.staff .content h3 {
    font-size: 1em;
    color: #fff;
    direction: ltr;
    writing-mode: vertical-lr;
    float: left;
    margin: 6px 20px;
    width: 20px;
    height: 100px;
    word-wrap: break-word;
    text-align-last: center;
}
.staff .content .row {
    margin-left: 65px;
}

#teams > .team-row > * {
  display: inline-flex;
  vertical-align: top;
}

#teams > .team-row > h3 {
  justify-content:center;
}

#teams > .team-row > .row {
  margin-left: 15px;
  width: calc(100% - 60px);
}

.staff .content .avator {
    margin: 5px;
    margin-bottom: 35px;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
}
.staff .content .avator img {
    width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
}
.staff .content .avator .name {
    width: 100%;
    font-size: 1em;
    position: absolute;
    top: 110px;
    width: 120%;
    left: -10%;

}
.staff .content .spacing {
    margin-bottom: 15px;
}

@media (max-width: 50em) {
  .staff .content h3 {
    height: 75px;
  }
  .staff .content .avator{
    width: 75px;
    height: 75px;
    margin-bottom: 35px;
  }
  .staff .content .avator .name {
    width: 120%;
    font-size: 0.9em;
    position: absolute;
    top: 84px;
  }
  .staff .content .avator p {
    size: 3em;
  }
}

@media (max-width: 70em) {
  .title{
  	width: 80%;
  }
  .content{
    width: 100%;
  }
  .map{
    width: 100%;
  }
}

@media (max-width: 30em) {
  td{
    font-size: 0.8em;
  }
}

@media (max-width: 767px){
  .navbar-brand-bg{
    right: 0;
  }
  .navbar-brand-text{
    display: none;
  }
}
